<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page 2</title>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="base.css">
        <link rel="stylesheet" href="page2.css">
    </head>
    <body>
        <section id="section-main">
            <div id="img-box1">
                <img src="../charts/chart2.jpg" alt="">
            </div>

            <div id="img-box2">
                <img src="../charts/chart3.jpg" alt="">
            </div>
        </section>
    </body>
</html>